*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
c{display: none;}
*::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background: teal;
    border-radius: 30px;
}
section{
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.headpart{
    height: 45vh;
    width: 100vw;
    background-color: #3c22ce;
    background-image: url('./img/web.png');
    background-repeat: no-repeat;
    background-position: 45vw;
    background-blend-mode: unset;
}
#app-search{
    display: block;
    position: relative;
    top: 20vh;
    left: 8vw;
    height: 4vh;
    width: 40vh;
    background: white;
    border: 1px solid white;
    outline: none;
    padding: 15px;
    color: #3c22ce;
}
.sidebar{
    height: 55vh;
    width: 35vw;
    background: rgb(8, 211, 211);
}
.option{
    display: block;
    height: calc(55vh / 4);
    width: 100%;
    border-bottom: 1px solid white;
    line-height: calc(55vh / 4);
    color: black;
    font-weight: bold;
    padding: 0 40px;
    cursor: pointer;
    transition: .2s linear;
}
.option:hover{backdrop-filter: grayscale(1);}
.toggle{
    position: fixed;
    top: 20px;
    left: 80vw;
    height: 30px;
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}
.toggle .bar{
    height: 2px;
    width: 100%;
    background: white;
    transition: all .1s ease;
}
.main-cont{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 55vh;
    width: 65vw;
    background: green;
    top: -55vh;
    left: 35vw;
    overflow: scroll;
}
.main-cont::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}
.main-cont::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: rgba(0, 0, 0, .5);
}

.app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 40vh;
    width: 35vh;
    top: 20px;
    transition: .5s ease;
    background: white;
    overflow: hidden;
    margin: 0 auto 30px;
    border-bottom: 1px solid black;
}
#logo{
    position: relative;
    display: block;
    top: 10px;
    height: 20vh;
    width: 20vh;
}
.downloadbtn{
    position: relative;
    font-weight: bold;
    padding: 5px 7px;
    bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.downloadbtn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    transition: .2s ease;
    background: black;
}
.downloadbtn::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    height: 2px;
    width: 100%;
    transition: .2s ease;
    background: black;
}
.downloadbtn:hover::before{left: 0;}
.downloadbtn:hover::after{right: 0;}

.mod::before{
    content: 'MOD';
    position: absolute;
    background: red;
    color: white;
    top: 0;
    left: 0;
    font-size: 5vh;
    color: yellow;
    -webkit-text-stroke: 1px blue;
    font-style: italic;
    z-index: 100000000;
}
.cover{
    display: block;
    height: 20px;
    width: 20px;
}
.close .bar{position: absolute;}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover{background-attachment: fixed;}
.close .bar:nth-child(1){transform: rotate(45deg);}
.close .bar:nth-child(3){transform: rotate(-45deg);}
.close .bar:nth-child(2){opacity: 0;}
#cover{
    display: block;
    width: 100vw;
    position: fixed;
    z-index: -10000000;
    filter: blur(10px);
}
[overflow-visible]{
    overflow-y: visible;
    overflow-x: hidden;
}
.app-detail{
    min-height: 100vh;
    width: 95vw;
    background: whitesmoke;
    position: relative;
    top: 30vh;
    border-radius: 50px 50px 0 0;
    margin: auto;
}
#app-logo{
    position: relative;
    display: block;
    height: 30vh;
    width: 30vh;
    top: -15vh;
    left: 70vw;
    border: 15px solid white;
    border-radius: 50px;
}
.preloader{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #000;
    z-index: 100000000000000000;
    pointer-events: none;
    transition: 1s linear;
}
.loader{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30vh;
    width: 30vh;
    border: 15px solid rgb(93, 10, 187);
    border-radius: 50%;
    animation: hue linear 2s infinite;
}
.load-pic{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(./favico.ico);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    animation: scale ease 2s infinite;
}
@keyframes hue {
    0%,100%{filter: hue-rotate(0deg);}
    50%{filter: hue-rotate(360deg);}
}
@keyframes scale {
    0%,100%{transform: scale(0) rotate(0deg);}
    50%{transform: scale(1) rotate(360deg);}
}
.pop-up{
    position: fixed;
    height: 10vh;
    width: 280px;
    margin: 15px;
    border-radius: 10px;
    background: #000;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 5px;
    transform: translateY(-150%);
}
.sub{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
}
.sub:hover{text-decoration: underline yellow;}
.pop-up,.pop-up  *{
    transition: .2s ease;
}
.pop{
    height:  8vh;
    width: 8vh;
    background-image: url(./favico.ico);
    background-size: cover;
    background-position: center;
}
.close{
    height: 100%;
    color:  white;
    font-weight: bold;
    font-size: 30px;
    display: grid;
    place-items: center;
    width: 30%;
}
.cross{
    cursor: pointer;

}
.cross:hover{
    color: red;
}
.close:hover{
    background: rgba(255, 255, 255, .2);
}






@media screen  and (max-width: 500px) {
    .headpart{
        background: url('./img/web.png');
        background-size: cover;
        height: 30vh;
        background-position: center;
    }
    #app-search{
        display: block;
        top: 20vh;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
        margin: auto;
    }
    .sidebar{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 40vw;
        left: -100%;
        transition: .5s ease;
        z-index: 10000000000000000000000000000000000;
    }
    .open{
        box-shadow: 0 0 10px 15px rgba(0, 0, 0, .4);
        left: 0;
    }
    .option{
        padding: 0 5px;    
    }
    .app{
        margin: 0 10px 20px;
    }
    .toggle{display: flex;cursor: pointer;}
    .main-cont{
        top: 0;
        left: 0;
        height: 70vh;
        width: 100vw;
    }
    .appname{position: relative;top: 10px;}
    .appdet{position: relative;top: 7px;}
    .downloadbtn{position: relative;top: 5px;color: black;text-decoration: none;}
    
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}

.close .bar:nth-child(1){transform: rotate(45deg);}
.close .bar:nth-child(3){transform: rotate(-45deg);}
.close .bar:nth-child(2){opacity: 0;}
}
.close .bar{
    background: white;
}
@media screen and (max-width: 425px) {
    .app{margin: 0 auto 20px;}    
}
@media screen and (max-width: 900px){
    .headpart{
        background-position: center;
    }
}